.c-menu {
    background: #252525;
    padding: 15px 0;
}

.c-container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 739px) {
    .c-container {
        flex-direction: column;
        max-width: 300px;
    }
}

.c-menu__logo {
    margin: 0 10px;
}

.c-menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

.c-menu__nav {
    flex: 1;
    margin: 0 10px;
    align-self: center;
}

.c-menu__nav ul {
    float: right;
    display: flex;
    list-style: none;
}

.c-menu__nav ul li a {
    padding: 10px;
}

@media (max-width: 739px) {
    .c-menu__nav {
        margin: 0;
    }

    .c-menu__logo {
        margin: 0;
    }

    .c-menu__nav ul li a {
        padding-left: 0px;
    }
}

/* Introduction */

.c-intro {
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    padding: 150px 0;
    text-align: center;
}

@media (max-width: 739px) {
    .c-intro {
        padding: 60px 0;
    }
}

.c-intro__title {
    text-transform: uppercase;
    font-size: 3em;
}

.c-intro__title::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.c-intro__subtitle {
    font-style: italic;
    font-size: 1.125em;
}

/* About */

.c-about {
    padding: 60px 0;
}

.c-about__title {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.c-about__item {
   flex: 1;
    margin: 0 10px;
}

@media (max-width: 739px) {
    .c-about__item {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.c-about__item img {
    display: block;
    max-width: 100%;
}

.c-about__item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}

.c-about>p {
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

/* Products */

.c-products {
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid#d6d3c8;
    border-bottom: 3px solid#d6d3c8;
}

.c-products__item {
    flex: 1;
    float: left;
    margin: 0 10px 40px 10px;
}

.c-products__item h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}

.c-products__item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 5px currentColor;
}

.c-products__item p {
    font-size: 0.875em;
    line-height: 1.4em;
}

.c-products__paulista::before {
    color: #492901;
}

.c-products__carioca::before {
    color: #c17139;
}

.c-products__mineiro::before {
    color: #d7a54d;
}

.c-products__btn {
    width: 180px;
    border: 3px solid #252525;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}

@media (max-width: 739px) {
    .c-products__item {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Locals */

.c-local {
   padding: 60px 0; 
}

.c-local__item {
    margin-bottom: 40px;
}

.c-local__item::before, .c-local__item::after {
    content: '';
    clear: both;
    display: table;
}

.c-local__img, .c-local__info {
    flex: 1;
    margin: 0 10px;
}

.c-local__img img {
    display: block;
    max-width: 100%;
}
 
.c-local__item h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.c-local__item p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.c-local__item a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

@media (max-width: 739px) {
    .c-local__img, .c-local__info {
        margin-left: 0px;
        margin-right: 0px; 
    }
}

/* Newsletter */

.c-newsletter {
    background: #e7e4d8;
    padding: 30px 0;
}

.c-newsletter__info {
   flex: 1;
   margin: 0 10px;
}

.c-newsletter__info h2 {
    font-size: 2.25em;
}

.c-newsletter__info p {
    font-size: 1.5em;
    font-style: italic;
}

.c-newsletter form {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.c-newsletter form label {
    display: none;
}

@media (max-width: 739px) {
    .c-newsletter__info {
        margin: 0 0 20px 0;
    }

    .c-newsletter form {
        margin: 0px;
    }
}

.c-newsletter input {
    flex: 1;
    align-self: flex-start;
    padding: 10px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.c-newsletter button {
    flex: 1;
    align-self: flex-start;
    background: #252525;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 140px;
    padding: 13px 0;
    border: none;
    color: #fff;
    cursor: pointer;
}


/* Footer */

.c-footer {
    background: #d6d3c8;
    padding: 40px 0;
}

.c-footer p {
    margin: 0 10px;
    font-size: 1.125em;
    line-height: 1.4em;
    flex: 1;
}

.c-footer__img {
    margin: 0 10px;
    display: block;
}


@media (max-width: 739px) {
    .c-footer__img, .c-footer p {
        margin: 10px 0px;
    }

}