/* Menu */

.c-menu {
    background: #252525;
    padding: 20px 0;
}

.c-menu__logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.c-menu__nav {
    float: right;
    margin-left: 10px;
}

.c-menu__item {
    display: inline-block;
}

.c-menu__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

.c-container {
    max-width: 960px;
    margin: 0 auto;
}

.c-container::after, .c-container::before {
    content: '';
    display: table;
    clear: both;
}

/* Introduction */

.c-intro {
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.c-intro__title {
    text-transform: uppercase;
    font-size: 3em;
}
.c-intro__title::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.c-intro__subtitle {
    font-style: italic;
    font-size: 1.125em;
}