/* Menu */

.c-menu {
    background: #252525;
    padding: 20px 0;
}

.c-menu__logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.c-menu__nav {
    float: right;
    margin-left: 10px;
}

.c-menu__item {
    display: inline-block;
}

.c-menu__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

.c-container {
    max-width: 960px;
    margin: 0 auto;
}

.c-container::after, .c-container::before {
    content: '';
    display: table;
    clear: both;
}