/* Menu */

.c-menu {
    background: #252525;
    padding: 20px 0;
}

.c-menu__logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.c-menu__nav {
    float: right;
    margin-left: 10px;
}

.c-menu__item {
    display: inline-block;
}

.c-menu__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

.c-container {
    max-width: 960px;
    margin: 0 auto;
}

.c-container::after, .c-container::before {
    content: '';
    display: table;
    clear: both;
}

/* Introduction */

.c-intro {
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.c-intro__title {
    text-transform: uppercase;
    font-size: 3em;
}
.c-intro__title::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.c-intro__subtitle {
    font-style: italic;
    font-size: 1.125em;
}

/* About */

.c-about {
    padding: 60px 0;
}

.c-about__title {
    text-align: center;
    font-size: 2.25em;
    margin: 60px;
}

.c-about__item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.c-about__item img {
    display: block;
    max-width: 100%;
}

.c-about__item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}

.c-about > p {
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}